.full-width { width: 100%; }

.left, .right { width: 48%; }
.left { float: left; margin-right: 1%; }
.right { float: right; margin-left: 1%;}
pre { overflow: scroll; }

.full-width > h2, .left > h2, .right > h2 { text-align: center; }