html { font-family: sans-serif; }

h1, h2, h3 { color: navy; }

.full-width { width: 100%; }

.left, .right { width: 48%; }
.left { float: left; margin-right: 1%; }
.right { float: right; margin-left: 1%;}
pre { overflow: scroll; }

.full-width > h2, .left > h2, .right > h2 { text-align: center; }

.passed { background-color: #E6FBBD ;}
.failed { background-color: #FFC2C0; }
.notrun { background-color: #B0E7E9; }